<!DOCTYPE html>
<html>
  <head>
    <title>Parallax</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href='https://fonts.googleapis.com/css?family=Work+Sans' rel='stylesheet' type='text/css' >
    <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css' >
    <link href='https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700' rel='stylesheet' type='text/css' >
    <link href='https://fonts.googleapis.com/css?family=Play' rel='stylesheet' type='text/css' >
    <link href='https://fonts.googleapis.com/css?family=Comfortaa:400,700,300' rel='stylesheet' type='text/css' >
    <link href='https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600' rel='stylesheet' type='text/css' >

  </head>

  <body>
    <%= yield %>
  </body>
</html>
